/* --- IMPORTS --- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

/* --- VARIABLES --- */
:root {
    /* COLORS */
    --primaryColor: #fdf7e3;
    --secondaryColor: #dbecf3;
    --accentColor: #8ac6d0;
    --interactableColor: #6f99ac;
    --hoverButtonColor: #638a9c;
    --backgroundColor: whiteSmoke;
    --baseTextDarkColor: #222;
    --baseTextLightColor: #ffff;

    /* TEXT  */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: 1rem;
    --baseTextSizeDesktop: 1.2rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 16px;
    --mediumSpacing: 35px;
    --largeSpacing: 50px;
    --xLargeSpacing: 90px;

    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidthMobil {
    grid-column: 1/-1;
}

.backgroundSecondary {
    background: var(--secondaryColor);
    padding: 0 var(--mediumSpacing);
}

.blur {
    background: rgba(255, 255, 255, 0.5);
    padding: var(--largeSpacing);
    height: 100%;
    backdrop-filter: blur(15px);
}

.logo {
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
}

.active:after {
    content: "";
    width: 50%;
    height: 5px;
    background: var(--interactableColor);
    position: absolute;
    bottom: 10px;
}

.hvemErViSect video {
    display: none;
}

.bentoDesktop {
    display: none;
}

.filterDesktopContainer {
    display: none;
}

.imgsContainer {
    display: none;
}

/* --- GENERALS --- */

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: var(--mediumSpacing) repeat(4, 1fr) var(--mediumSpacing);
}

section {
    grid-column: 2/-2;
    margin: var(--smallSpacing) 0;
}

article {}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

a,
li,
label {
    font-family: "Poppins", sans-serif;
    color: var(--baseTextDarkColor);
}

i {}

address {
    font-family: "Poppins", sans-serif;
    display: flex;
}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    grid-column: 2 / -2;
    color: var(--baseTextDarkColor);
    line-height: 1.7;
}

h1,
h2.index {
    font-size: 1.9rem;
    margin: var(--standardSpacing) 0;
    text-align: center;
    font-weight: 400;
    font-family: "Yeseva One", serif;
}

h2.index {
    margin: var(--largeSpacing) 0 var(--standardSpacing) 0px;
}

h2 {
    font-size: 1.5rem;
    margin: var(--mediumSpacing) 0 var(--standardSpacing) 0px;
    font-weight: 400;
    font-family: "Yeseva One", serif;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin: var(--smallSpacing);
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0 0 var(--smallSpacing) 0;
    color: var(--baseTextDarkColor);
    font-family: "Poppins", sans-serif;
    font-size: var(--baseTextSizeMobile);
}

/* --- BUTTONS --- */
button {
    background: none;
    border: none;
    cursor: pointer;
}

a.btn,
.filterMobilContainer button,
.produkter button {
    background: var(--interactableColor);
    padding: var(--smallSpacing) var(--standardSpacing);
    text-decoration: none;
    font-weight: 700;
    color: var(--baseTextLightColor);
    border-radius: var(--borderRadius);
    letter-spacing: 0.7px;
    margin: var(--mediumSpacing);
    display: block;
    text-align: center;
    box-shadow: var(--shadow);
}

a.btn:hover,
.produkter button:hover,
.filterMobilContainer button:hover {
    background: var(--hoverButtonColor);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.filterMobilContainer button,
.produkter button {
    margin: var(--smallSpacing) 0;
    display: flex;
    gap: var(--smallSpacing);
    align-items: center;
    font-size: 1rem;
}

.filterMobilContainer button i {
    font-size: 1.2rem;
}

/* --- NAVIGATION OG INDEX HEADER--- */
.desktopNav {
    display: none;
}

header.index {
    background-image: url("../img/solkildeHero02.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

header h1 {
    font-size: 4.6rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    /* margin-top: 350px; */
    color: var(--baseTextLightColor);
}

header h2 {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-weight: 500;
    color: var(--baseTextLightColor);
}

header .heroTextBox {
    background: rgba(0, 0, 0, 0.4);
    min-height: 200px;
    position: relative;
    bottom: -45%;
}

header .scroll {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    position: relative;
    bottom: -44%;
}

header .scroll p {
    font-size: 0.9rem;
    margin: 0;
    color: var(--baseTextLightColor);
}

.scrollBtn {
    font-size: 2.8rem;
    color: white;
    background: var(--interactableColor);
    border-radius: var(--round);
    width: 60px;
    height: 60px;
}

nav {
    /* padding: var(--mediumSpacing) var(--mediumSpacing) var(--smallSpacing) var(--mediumSpacing); */
    display: flex;
    justify-content: space-between;
}

nav button {
    font-size: 2.5rem;
}

nav .logo,
nav .menu {
    padding: var(--mediumSpacing) var(--mediumSpacing) var(--smallSpacing) var(--mediumSpacing);
}

.index nav .logo,
.index nav .menu {
    color: var(--baseTextLightColor);
}

.mobilMenu {
    background: var(--secondaryColor);
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: var(--smallSpacing);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

nav .mobilMenu button {
    width: 50px;
    font-size: 3.5rem;
    position: absolute;
    right: 10px;
}

nav .mobilMenu .logo {
    text-align: center;
    font-size: 2.7rem;
    margin: var(--largeSpacing);
    color: var(--baseTextDarkColor);
}

nav .mobilMenu ul {
    padding: 0;
}

nav .mobilMenu li {
    list-style: none;
}

nav .mobilMenu a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* --- FOOTER --- */
footer {
    background: var(--primaryColor);
    padding: var(--mediumSpacing);
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer .kontakt {
    display: flex;
    flex-direction: column;
}

footer .kontakt div {
    display: flex;
    gap: var(--smallSpacing);
    margin: var(--smallSpacing) 0;
}

footer i {
    font-size: 2rem;
}

footer .copyright {
    justify-content: center;
    align-items: baseline;
    gap: 2px;
}

footer .copyright i,
footer .copyright p {
    font-size: 1rem;
    color: rgba(34, 34, 34, 0.5);
}

/* --- CONTAINERS --- */

.produktContainer.favoritter,
.produktContainer.mobler,
.produktContainer.relateredeProdukter,
.produktContainer.boligdekoration {
    display: flex;
    flex-wrap: wrap;
    gap: var(--standardSpacing);
}

.omSolkildeContainer {
    padding: 0 var(--mediumSpacing);
}

/* --- BENTOBOX --- */

.backgroundAccent {
    background: var(--accentColor);
    padding: var(--mediumSpacing);
    font-weight: 700;
    margin: var(--mediumSpacing) 0;
    text-align: center;
}

.backgroundAccent p {
    font-size: 1.1rem;
}

.bentoMobil .imgContainer {
    height: 250px;
}

.bentoMobil .imgContainer img {
    object-position: bottom;
}

.backgroundInteract {
    background: var(--interactableColor);
    padding: var(--mediumSpacing);
    font-weight: 700;
    margin-top: var(--mediumSpacing);
    text-align: center;
}

.backgroundInteract p {
    font-size: 1.1rem;
    color: var(--baseTextLightColor);
}

/* --- HER ER VI --- */
.herErVi h2 {
    margin: 0;
}

.herErVi p {
    font-size: 1.1rem;
    font-weight: 500;
}

.herErVi {
    background-image: url("../img/solkildeButik.jpg");
    background-size: cover;
    margin: var(--mediumSpacing) 0;
    text-align: center;
}

/* --- FREMSTILLING--- */
.fremstilling {
    margin: var(--mediumSpacing) 0;

    position: relative;
}

.fremstilling video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.fremstilling .blur {
    height: 100%;
}

/* --- BEHANDLING OG PLEJE --- */

.behandlingOgPleje h3 {
    margin: 0;
}

.behandlingOgPleje .behandlingContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mediumSpacing);
}

.behandlingOgPleje img {
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    object-fit: cover;
    object-position: center;
}

.behandlingOgPleje .imgContainer {
    height: 200px;
}

/* --- HANDEL PÅ SIDEN --- */
.handel .imgContainer {
    width: 100%;
    height: 300px;
}

.handel {
    padding: 0;
    margin-bottom: var(--mediumSpacing);
}

.handel h2 {
    margin: var(--mediumSpacing) var(--mediumSpacing) 0 var(--mediumSpacing);
}

.handel p {
    margin: var(--smallSpacing) var(--mediumSpacing);
}

/* --- OPSTILING --- */

.opstilling {
    background: var(--secondaryColor);
}

.opstilling .imgContainer {
    height: 250px;
}

.opstilling .text {
    padding: var(--smallSpacing) var(--mediumSpacing);
}

/* --- PRODUKT CARD --- */

.produktPreview {
    width: 47%;
    margin-bottom: var(--smallSpacing);
}

.produktPreview a {
    text-decoration: none;
}

.produktPreview img {
    border-radius: var(--borderRadius);
    height: 150px;
}

.produktPreview h3 {
    text-align: center;
    margin: 0;
    font-weight: 400;
}

/* --- PRODUKT SIDE  --- */

.produktsideContainerMobil .imgContainer {
    height: 350px;
}

.produktsideContainerMobil .produktInfo {
    padding: 0 var(--mediumSpacing);
}

.produktsideContainerMobil h1 {
    text-align: left;
    margin: 0;
}

.produktsideContainerMobil .pris {
    font-style: italic;
    font-size: 1.2rem;
}

.produktsideContainerMobil .size p {
    margin: 0;
    font-weight: 700;
}

.produktsideContainerMobil .teak {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: var(--standardSpacing) var(--standardSpacing);
}

.produktsideContainerMobil .teak .imgContainer {
    height: 50px;
    width: 50px;
}

.faqBox {
    border: 2px solid var(--accentColor);
    border-radius: var(--borderRadius);
    padding: var(--smallSpacing);
    margin: var(--smallSpacing) 0;
}

.faqBox .icon {
    color: var(--accentColor);
    font-size: 2.5rem;
}

.faqBox h3 {
    display: flex;
    align-items: center;
    gap: var(--smallSpacing);
    line-height: 1.3;
    font-size: 1rem;
    text-align: left;
}

.faqBox p {
    margin: 0 var(--mediumSpacing);
}

/* --- KONTAKT  --- */
.contact {
    background: var(--secondaryColor);
    padding: 0 var(--mediumSpacing);
}

.contact input,
.contact textarea {
    border: 1px solid var(--accentColor);
    border-radius: var(--borderRadius);
    width: 100%;
    padding: 15px var(--standardSpacing);
    font-family: "Poppins", sans-serif;
}

.contact textarea {
    height: 150px;
}

.contact label {
    position: absolute;
    margin-left: 20px;
    color: grey;
    transition: all 0.4s;
    top: 25px;
    transform: translateY(-50%);
    cursor: text;
    display: block;
}

.contact .formGroup {
    position: relative;
    margin-top: 25px;
}

.contact .moveUp {
    margin-top: -25px;
    margin-left: 5px;
    font-size: 14px;
    background: var(--interactableColor);
    color: white;
    padding: 4px 8px;
    border-radius: var(--borderRadius);
    min-width: 50px;
}

.contact #submitBtn {
    background: var(--interactableColor);
    color: white;
    float: right;
    border-radius: var(--borderRadius);
    padding: var(--smallSpacing) var(--mediumSpacing);
    font-size: 1.3rem;
    font-weight: 700;
    margin: var(--smallSpacing) 0 var(--largeSpacing) 0;
}

/* --- FILTER --- */
.filterMobilContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    margin: 0 var(--mediumSpacing);
}

.filterMobilContainer .filterBox {
    width: 100%;
    padding: var(--mediumSpacing);
    background: white;
    position: absolute;

    border: 2px solid var(--interactableColor);
    border-radius: var(--borderRadius);
}

.filterMobilContainer button {
    width: 110px;
    justify-content: center;
}

.filterMobilContainer .filterGroup {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--accentColor);
}

.filterMobilContainer .filterBox button {
    background: none;
    box-shadow: none;
    color: #222;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.filterMobilContainer .filterBox button i {
    font-size: 2.5rem;
}

.filterGroup input {
    width: 20px;
    height: 20px;
    border-radius: var(--borderRadius);
    border: 92px solid #222;
}

.filterBox label {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* --- TING DER SKAL VÆRE HER FORDI SPECIFICITY --- */

.hidden {
    display: none;
}

/* --- MEDIA QUERY--- */
@media only screen and (min-width: 900px) {
    .fremstilling .blur {
        margin-left: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        grid-template-columns: 10% repeat(12, 1fr) 10%;
        gap: var(--standardSpacing);
    }

    .fullWidthMobil {
        grid-column: 2/-2;
    }

    .omSolkilde {
        display: flex;
    }

    .omSolkilde .imgContainer {
        /* max-height: 700px; */
        width: 40%;
    }

    .omSolkildeContainer {
        width: 60%;
    }

    p,
    li {
        font-size: var(--baseTextSizeDesktop);
    }

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    .omSolkildeContainer h1 {
        text-align: left;
    }

    section {
        /* height: 90vh; */
        margin-bottom: var(--largeSpacing);
    }

    .fullWidthDesktop {
        grid-column: 1/-1;
    }

    .fremstilling .blur {
        margin-left: 55%;
        padding: var(--smallSpacing) var(--xLargeSpacing);
        backdrop-filter: blur(25px);
    }

    .fremstilling {
        min-height: 600px;
    }

    .behandlingOgPleje .behandlingContainer {
        flex-direction: row;
    }

    .behandlingCard {
        width: 33%;
    }

    .behandlingContainer h3 {
        margin-top: var(--smallSpacing);
    }

    .handel {
        display: flex;
        height: 650px;
    }

    .handel .imgContainer {
        height: 100%;
        width: 60%;
    }

    .handelContainerDesktop {
        width: 40%;
        padding: var(--largeSpacing);
    }

    /* Media QUERY forside */
    .favoritter.produktContainer {
        flex-wrap: nowrap;
    }

    .hvemErViSect video {
        width: 55%;
        object-fit: cover;
        object-position: center;
        border-radius: var(--borderRadius);
        margin: var(--mediumSpacing);
        display: flex;
    }

    .hvemErViSect {
        display: flex;
        height: 700px;
    }

    .hvemErViDesktop {
        margin: var(--mediumSpacing);
    }

    .bentoMobil {
        display: none;
    }

    .bentoDesktop {
        display: grid;
        grid-template-rows: 250px 250px;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--standardSpacing);
    }

    .bentoDesktop .item1 {
        grid-column: 1/5;

        margin: 0;
        display: flex;
        align-items: center;
    }

    .bentoDesktop .item2 {
        grid-column: 5/10;
    }

    .bentoDesktop .item3 {
        grid-column: 10/13;
    }

    .bentoDesktop .item4 {
        grid-column: 1/4;
        grid-row: 2;
    }

    .bentoDesktop .item5 {
        grid-column: 4/9;
        grid-row: 2;
        display: flex;
        align-items: center;
        background: var(--secondaryColor);
    }

    .bentoDesktop .item5 .imgContainer {
        width: 50%;
        height: 100%;
    }

    .bentoDesktop .item5 p {
        width: 50%;
        padding: var(--standardSpacing);
        font-weight: 700;
    }

    .bentoDesktop .item6 {
        grid-column: 9/13;
        grid-row: 2;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .item1,
    .item2 img,
    .item3 img,
    .item4 img,
    .item5,
    .item6 {
        border-radius: var(--borderRadius);
    }

    .item5 img {
        border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    }

    .herErVi .blur {
        margin-left: 60%;
        border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    }

    .herErVi {
        background-position: center;
        background-size: cover;
        border-radius: var(--borderRadius);
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: var(--mediumSpacing) 10%;
    }

    footer .logo {
        margin-top: var(--largeSpacing);
        font-size: 3rem;
    }

    .menu {
        display: none;
    }

    .desktopNav {
        display: flex;
        gap: var(--mediumSpacing);
        padding: 0;
        margin: 0;
        align-items: center;
        margin-right: var(--largeSpacing);
    }

    .desktopNav.index a {
        color: var(--baseTextLightColor);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .desktopNav a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

    nav {
        backdrop-filter: blur(8px);
    }

    .desktopNav li {
        list-style: none;
        position: relative;
    }

    .active::after {
        width: 100%;
        left: 0;
        bottom: -5px;
    }

    .desktopNav a:hover {
        /* todo */
    }

    .beskrivelse {
        grid-column: 4/12;
        margin: 0 var(--xLargeSpacing);

    }

    .filterMobilContainer {
        display: none;
    }

    .filterDesktopContainer {
        display: flex;
        grid-column: 2/5;
    }

    .filterDesktopContainer .filterBox {
        padding: var(--mediumSpacing);
        background: white;
        border: 2px solid var(--interactableColor);
        border-radius: var(--borderRadius);
        width: 100%;
        max-height: 1250px;
    }

    .filterDesktopContainer h3 {
        text-align: left;
        font-size: 1rem;
    }

    .produkter {
        grid-column: 5/-2;
    }

    .produkter .produktPreview {
        width: 31%;
    }

    .produktPreview img {
        height: 250px;
    }

    .produkter button {
        margin: auto;
    }

    .opstilling {
        display: flex;
    }

    .opstilling .imgContainer {
        width: 50%;
        height: 100%;
    }

    .opstilling .text {
        width: 50%;
        padding: var(--largeSpacing) var(--xLargeSpacing);
    }

    /* selve Produket */
    .allFaq {
        display: flex;
        gap: var(--standardSpacing);
    }

    .allFaq .faqBox {
        width: fit-content;
        margin: 0;
        height: 1fr;

    }

    .faqBox p {
        margin: 0 var(--standardSpacing) var(--standardSpacing);
    }

    .faqBox h3 {
        font-size: 1.3rem;
    }

    .contact {
        border-radius: var(--borderRadius);
    }

    .contact form {
        display: flex;
        gap: var(--smallSpacing);
        width: 100%;
    }

    .contact .formContainer {
        width: 50%;
    }

    .contact #message {
        height: 210px;
    }

    .produktContainer.relateredeProdukter {
        flex-wrap: nowrap;
    }

    .produktsideContainerMobil {
        display: flex;
        margin: 0;
    }

    .produktImgContainer {
        width: 45%;
    }

    .produktsideContainerMobil .produktInfo {
        width: 55%;
    }

    .mainImg img {

        border-radius: 0 10px 10px 0;
    }

    .produktsideContainerMobil .imgContainer {
        height: 70vh;
    }

    .imgsContainer {

        display: flex;
        width: 100%;
        height: 150px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: var(--smallSpacing);
        gap: var(--smallSpacing);

    }

    .imgsContainer img {
        border-radius: var(--borderRadius);
        width: 19%;

    }


}